body {
  background-color: #00A3FF;
}
h1 {text-align: center}
p {text-align: center}
ul  {text-align: center}
ul{
    list-style-type:none
}

td.menuType{
    font-weight: bold
}

.glyphicon-thumbs-down{
    color: red;
}

.glyphicon-thumbs-up{
    color: green;
}


