body {
  background-color: #00A3FF;
}

h1 {
    text-align: center;
}

h1.title {
    font-weight: bold;
}

p {
    text-align: center;
}

ul {
    text-align: center;
    list-style-type: none;
}

table {
    border-collapse: collapse;
    width: 60%;
}

table, tr, td {
    border: 1px solid black;
}

td {
    vertical-align: top;
    padding: 10px;
}

td.menuType {
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

.glyphicon-thumbs-down {
    color: red;
}

.glyphicon-thumbs-up {
    color: green;
}


