<!doctype html>
<html>
<head>
  <title>Canyon Vista</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<style>
</style>

<body>

<h1>Canyon Vista</h1>
<table style="width:70%" align="center">
  <tr>
    <td class="menuType">Breakfast</td>
    <td class="menuType">Lunch</td>
    <td class="menuType">Dinner</td>
  </tr>
  <tr>
    <td>
      <ul>
	{% for item in breakfast %}
	<li>{{ item }}{{ rating_for(item, ratings)|safe }} </li>
	{% endfor %} 
      </ul>
    </td>
    <td>
      <ul>
	{% for item in lunch %}
	<li>{{ item }}{{ rating_for(item, ratings)|safe }} </li>
	{% endfor %} 
      </ul>
    </td>
    <td>
      <ul>
	{% for item in dinner %}
	<li>{{ item }}{{ rating_for(item, ratings)|safe }} </li>
	{% endfor %} 
      </ul>
    </td>
  </tr>
</table>

</body>
</html>
