<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<head>
<title>Casey and Mo's Totally Awesome Thing</title>
</head>
<html>
<style>
h1 {text-align: center}
p {text-align: center}
ul  {text-align: center}
</style>
<body>

<h1>HDH App Name</h1>
<p  ><u>Select Favorite Meal Hall</u></p>
<ul>
    <li><a href="/canyonvista">Canyon Vista</a></li>
    <li><a href="/64degrees">64 Degrees</a></li>
    <li><a href="/pines">Pines</a></li>
</ul>

</body>
</html>
